body {
    overflow: hidden;
}

.error-text {
    color: red;
}

.main-div {
    position: relative;
    height: 50%;
}

/* Map */
.main-map {
    width: 100%;
    height: 100%;
}
/* /Map */

/* Icons */
.main-sprite-icon {
    display: inline-block;
    background-image: url(../resources/sprites/main.png);
}

.flag-icon {
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.flag-icon.rus {
    background-position-x: -30px;
}
/* /Icons */


/* Login Popup */
.login-popup {
    display: block;
}
.login-popup .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.login-popup .vertical-alignment-helper .vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.login-popup .vertical-alignment-helper .modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}
.login-popup .buttons-container {
    margin-top: 10px;
    position: relative;
}
.login-popup .buttons-container .submit-button {
    float: right;
}
/* /Login Popup */

/* Target Popup */
.target-popup {
    display: block;
    mind-width: 100px;
    overflow: auto;
}
.target-popup .modal-content {
    width: 400px;
}
.target-popup .target-panel {
    height: 21px;
    line-height: 21px;
    padding: 3px 0;
    cursor: pointer;
}
.target-popup .target-panel:hover span {
    color: #CCC;
}
/* /Target Popup */

/* Game Interface Wrapper */
.game-interface-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.game-interface-wrapper > div {
    position: absolute;
    z-index: 1;
}

/* Action List */
.action-list {
    top: 5px;
    left: 5px;
    position: absolute;
    z-index: 1;
}
/* /Action List */

/* Weapon Bar */
.game-interface-wrapper .weapon-bar {
    width: 100%;
    bottom: 25%;
    overflow: auto;
    text-align: center;
}

.game-interface-wrapper .weapon-bar .weapon-item {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    color: black;
    z-index: 2;
}

.game-interface-wrapper .weapon-bar .weapon-item .selected-mask {
    position: absolute;
    z-index: 1;
    background: white;
    opacity: 0.2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.weapon-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.weapon-icon.pistol {
    background-image: url(../resources/icons/weapons/pistol.png);
}

.weapon-icon.machinegun {
    background-image: url(../resources/icons/weapons/machinegun.png);
}

.weapon-icon.rifle {
    background-image: url(../resources/icons/weapons/rifle.png);
}
/* /Weapon Bar */

/* Bottom Info Items */
.game-interface-wrapper {
    width: 100%;
    overflow: auto;
}

.game-interface-wrapper .selected-weapon-info,
.game-interface-wrapper .hp-info {
    bottom: 5%;
}

.game-interface-wrapper .selected-weapon-info {
    left: 2%;
}

.game-interface-wrapper .selected-weapon-info div {
    padding-left: 36px;
    background-repeat: no-repeat;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
}

.game-interface-wrapper .selected-weapon-info .damage {
    background-image: url(../resources/icons/interface/damage.png);
}

.game-interface-wrapper .selected-weapon-info .accuracy {
    background-image: url(../resources/icons/interface/accuracy.png);
}

.game-interface-wrapper .selected-weapon-info .reloading {
    background-image: url(../resources/icons/interface/reloading.png);
}

.game-interface-wrapper .selected-weapon-info .ammo {
    background-image: url(../resources/icons/interface/ammo.png);
}

.game-interface-wrapper .hp-info {
    width: 64px;
    margin-left: -25px;
    left: 50%;
    text-align: center;
}

.game-interface-wrapper .hp-info .armor-icon {
    width: 64px;
    height: 64px;
    position: relative;
    background-image: url(../resources/icons/interface/armor.png);
}

.game-interface-wrapper .hp-info .armor-icon .flag {
    top: 34px;
    left: 16px;
    position: absolute;
}

.game-interface-wrapper .hp-info .hp {
    background: url(../resources/icons/interface/health.png) no-repeat;
    display: inline-block;
    padding-left: 18px;
}
/* /Bottom Info Panel */
/* /Game Interface Wrapper */


